/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mai 2019, 15:27:42
    Author     : merye
*/
body {
    font-family: 'Open Sans', sans-serif;
}



a {
   
    color : #ffffff;
    
    
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: #3498DB;
}

/*  header */ 

.header {
    background-color: #3498DB;
    height: 70px;
    line-height: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 10px;
    float: left;
}






/* banniere */ 

.banner {
    width: 100%;
    max-width: 100%;
}

.ban{
    width: 100%;
    max-width: 100%; 
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-customer {
    background-color: #3498DB;
    color: #ffffff;
}

.inner-banner .btn-customer:hover {
    background-color: #2C3E50;
}
/* a propos */

#about {
    text-align: center;
    padding-top: 0%;
    background-color: #eeeeee;
}

.about article{
    margin-top: 2%;
}

.about article h2 {
    text-align: center;
}

/*  connexion */ 

.connexion {
    text-align: center;
}

#connexion {
    text-align: center;
    background-color: #eeeeee;
}

/* contact */

.footer {
    background-color: #2C3E50;
  
}

.formulaire {
 width: 1000px;
 display: block;
 margin: 50px;
  
}

.footer propos {
    color : #3498DB;
}
