
-- ---
-- Globals
-- ---

-- SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";
-- SET FOREIGN_KEY_CHECKS=0;

-- ---
-- Table 'Ecriture'
-- 
-- ---

DROP TABLE IF EXISTS `Ecriture`;
		
CREATE TABLE `Ecriture` (
  `ID_Ecriture` INTEGER NOT NULL AUTO_INCREMENT,
  `ID_Journal` INTEGER NULL DEFAULT NULL,
  `ID_Piece` INTEGER NULL DEFAULT NULL,
  `ID_Compte` INTEGER NULL DEFAULT NULL,
  `ID_Exercice` INTEGER NOT NULL,
  `ID_Structure` INTEGER NULL DEFAULT NULL,
  `Montant` DECIMAL(13,2) NOT NULL,
  `Lettrage` VARCHAR(10) NOT NULL,
  `Date` DATE NULL DEFAULT NULL,
  PRIMARY KEY (`ID_Ecriture`)
);

-- ---
-- Table 'Facture'
-- 
-- ---

DROP TABLE IF EXISTS `Facture`;
		
CREATE TABLE `Facture` (
  `ID_Facture` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `ID_ModePayement` INTEGER NULL DEFAULT NULL,
  `DesignationFacture` INTEGER NULL DEFAULT NULL,
  `NumeroFacture` VARCHAR(15) NULL DEFAULT NULL,
  `Donneur` MEDIUMTEXT NULL DEFAULT NULL,
  `Date` DATE NULL DEFAULT NULL,
  `DateEcheance` DATE NULL DEFAULT NULL,
  `PrixTTC` DECIMAL(13,2) NOT NULL,
  PRIMARY KEY (`ID_Facture`)
);

-- ---
-- Table 'Piece'
-- 
-- ---

DROP TABLE IF EXISTS `Piece`;
		
CREATE TABLE `Piece` (
  `ID_Piece` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `ID_PieceType` INTEGER NULL DEFAULT NULL,
  `ID_Facture` INTEGER NULL DEFAULT NULL,
  `ID_Entite` INTEGER NULL DEFAULT NULL,
  `ID_Payement` INTEGER NULL DEFAULT NULL,
  `NumeroPiece` VARCHAR(15) NOT NULL,
  `DescriptionPiece` MEDIUMTEXT NULL DEFAULT NULL,
  PRIMARY KEY (`ID_Piece`)
);

-- ---
-- Table 'Compte'
-- 
-- ---

DROP TABLE IF EXISTS `Compte`;
		
CREATE TABLE `Compte` (
  `ID_Compte` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `TypeCompte` MEDIUMTEXT NULL DEFAULT NULL,
  PRIMARY KEY (`ID_Compte`)
);

-- ---
-- Table 'Journal'
-- 
-- ---

DROP TABLE IF EXISTS `Journal`;
		
CREATE TABLE `Journal` (
  `ID_Journal` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `Libelle` MEDIUMTEXT NULL DEFAULT NULL,
  PRIMARY KEY (`ID_Journal`)
);

-- ---
-- Table 'Payement'
-- 
-- ---

DROP TABLE IF EXISTS `Payement`;
		
CREATE TABLE `Payement` (
  `ID_Payement` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `ID_Cheque` INTEGER NULL DEFAULT NULL,
  `ID_ModePayement` INTEGER NOT NULL,
  `JustificatifPayement` INTEGER NULL DEFAULT NULL,
  `Date` DATE NULL DEFAULT NULL,
  `Montant` DECIMAL(13,2) NOT NULL,
  PRIMARY KEY (`ID_Payement`)
);

-- ---
-- Table 'Exercice'
-- 
-- ---

DROP TABLE IF EXISTS `Exercice`;
		
CREATE TABLE `Exercice` (
  `ID_Exercice` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `ID_Entite` INTEGER NOT NULL,
  `DateDebut` DATE NOT NULL,
  `DateFin` DATE NOT NULL,
  `Flag` INTEGER NOT NULL,
  PRIMARY KEY (`ID_Exercice`)
);

-- ---
-- Table 'PieceType'
-- 
-- ---

DROP TABLE IF EXISTS `PieceType`;
		
CREATE TABLE `PieceType` (
  `ID_PieceType` INTEGER NOT NULL AUTO_INCREMENT,
  `Description` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`ID_PieceType`)
);

-- ---
-- Table 'Cheque'
-- 
-- ---

DROP TABLE IF EXISTS `Cheque`;
		
CREATE TABLE `Cheque` (
  `ID_Cheque` INTEGER NOT NULL AUTO_INCREMENT,
  `ID_Remise` INTEGER NULL DEFAULT NULL,
  `ID_ChequeEtat` INTEGER NOT NULL,
  `Numero` INTEGER NOT NULL,
  `Banque` VARCHAR(50) NOT NULL,
  PRIMARY KEY (`ID_Cheque`)
);

-- ---
-- Table 'Remise'
-- 
-- ---

DROP TABLE IF EXISTS `Remise`;
		
CREATE TABLE `Remise` (
  `ID_Remise` INTEGER NOT NULL AUTO_INCREMENT,
  `Date` DATE NOT NULL,
  PRIMARY KEY (`ID_Remise`)
);

-- ---
-- Table 'ModePayement'
-- 
-- ---

DROP TABLE IF EXISTS `ModePayement`;
		
CREATE TABLE `ModePayement` (
  `ID_ModePayement` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `Libelle` MEDIUMTEXT NULL DEFAULT NULL,
  PRIMARY KEY (`ID_ModePayement`)
);

-- ---
-- Table 'ChequeEtat'
-- 
-- ---

DROP TABLE IF EXISTS `ChequeEtat`;
		
CREATE TABLE `ChequeEtat` (
  `ID_ChequeEtat` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `description` VARCHAR(50) NULL DEFAULT NULL,
  PRIMARY KEY (`ID_ChequeEtat`)
);

-- ---
-- Table 'Entite'
-- 
-- ---

DROP TABLE IF EXISTS `Entite`;
		
CREATE TABLE `Entite` (
  `ID_Entite` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `ID_TypeEntite` INTEGER NULL DEFAULT NULL,
  `Nom` VARCHAR(50) NULL DEFAULT NULL,
  `CodePostal` VARCHAR(50) NULL DEFAULT NULL,
  `Ville` VARCHAR(50) NULL DEFAULT NULL,
  `Mail` VARCHAR(50) NULL DEFAULT NULL,
  `Tel` VARCHAR(50) NULL DEFAULT NULL,
  `Addresse` VARCHAR(50) NULL DEFAULT NULL,
  `Raison` INTEGER NULL DEFAULT NULL,
  `Prenom` INTEGER NULL DEFAULT NULL,
  `CodeTiers` INTEGER NULL DEFAULT NULL,
  `Capital` INTEGER NULL DEFAULT NULL,
  `NumeroTva` INTEGER NULL DEFAULT NULL,
  PRIMARY KEY (`ID_Entite`)
);

-- ---
-- Table 'TypeEntite'
-- 
-- ---

DROP TABLE IF EXISTS `TypeEntite`;
		
CREATE TABLE `TypeEntite` (
  `ID_TypeEntite` INTEGER NULL AUTO_INCREMENT DEFAULT NULL,
  `Description` INTEGER NULL DEFAULT NULL,
  PRIMARY KEY (`ID_TypeEntite`)
);

-- ---
-- Foreign Keys 
-- ---

ALTER TABLE `Ecriture` ADD FOREIGN KEY (ID_Journal) REFERENCES `Journal` (`ID_Journal`);
ALTER TABLE `Ecriture` ADD FOREIGN KEY (ID_Piece) REFERENCES `Piece` (`ID_Piece`);
ALTER TABLE `Ecriture` ADD FOREIGN KEY (ID_Compte) REFERENCES `Compte` (`ID_Compte`);
ALTER TABLE `Ecriture` ADD FOREIGN KEY (ID_Exercice) REFERENCES `Exercice` (`ID_Exercice`);
ALTER TABLE `Facture` ADD FOREIGN KEY (ID_ModePayement) REFERENCES `ModePayement` (`ID_ModePayement`);
ALTER TABLE `Piece` ADD FOREIGN KEY (ID_PieceType) REFERENCES `PieceType` (`ID_PieceType`);
ALTER TABLE `Piece` ADD FOREIGN KEY (ID_Facture) REFERENCES `Facture` (`ID_Facture`);
ALTER TABLE `Piece` ADD FOREIGN KEY (ID_Entite) REFERENCES `Entite` (`ID_Entite`);
ALTER TABLE `Piece` ADD FOREIGN KEY (ID_Payement) REFERENCES `Payement` (`ID_Payement`);
ALTER TABLE `Payement` ADD FOREIGN KEY (ID_Cheque) REFERENCES `Cheque` (`ID_Cheque`);
ALTER TABLE `Payement` ADD FOREIGN KEY (ID_ModePayement) REFERENCES `ModePayement` (`ID_ModePayement`);
ALTER TABLE `Exercice` ADD FOREIGN KEY (ID_Exercice) REFERENCES `Entite` (`ID_Entite`);
ALTER TABLE `Cheque` ADD FOREIGN KEY (ID_Remise) REFERENCES `Remise` (`ID_Remise`);
ALTER TABLE `Cheque` ADD FOREIGN KEY (ID_ChequeEtat) REFERENCES `ChequeEtat` (`ID_ChequeEtat`);
ALTER TABLE `Exercice` ADD FOREIGN KEY (ID_Entite) REFERENCES `Entite` (`ID_Entite`);


-- ---
-- Table Properties
-- ---

-- ALTER TABLE `Ecriture` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Facture` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Piece` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Compte` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Journal` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Payement` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Exercice` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `PieceType` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Cheque` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Remise` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `ModePayement` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `ChequeEtat` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `Entite` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
-- ALTER TABLE `TypeEntite` ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

-- ---
-- Test Data
-- ---

-- INSERT INTO `Ecriture` (`ID_Ecriture`,`ID_Journal`,`ID_Piece`,`ID_Compte`,`ID_Exercice`,`ID_Structure`,`Montant`,`Lettrage`,`Date`) VALUES
-- ('','','','','','','','','');
-- INSERT INTO `Facture` (`ID_Facture`,`ID_ModePayement`,`DesignationFacture`,`NumeroFacture`,`Donneur`,`Date`,`DateEcheance`,`PrixTTC`) VALUES
-- ('','','','','','','','');
-- INSERT INTO `Piece` (`ID_Piece`,`ID_PieceType`,`ID_Facture`,`ID_Entite`,`ID_Payement`,`NumeroPiece`,`DescriptionPiece`) VALUES
-- ('','','','','','','');
-- INSERT INTO `Compte` (`ID_Compte`,`TypeCompte`) VALUES
-- ('','');
-- INSERT INTO `Journal` (`ID_Journal`,`Libelle`) VALUES
-- ('','');
-- INSERT INTO `Payement` (`ID_Payement`,`ID_Cheque`,`ID_ModePayement`,`JustificatifPayement`,`Date`,`Montant`) VALUES
-- ('','','','','','');
-- INSERT INTO `Exercice` (`ID_Exercice`,`ID_Entite`,`DateDebut`,`DateFin`,`Flag`) VALUES
-- ('','','','','');
-- INSERT INTO `PieceType` (`ID_PieceType`,`Description`) VALUES
-- ('','');
-- INSERT INTO `Cheque` (`ID_Cheque`,`ID_Remise`,`ID_ChequeEtat`,`Numero`,`Banque`) VALUES
-- ('','','','','');
-- INSERT INTO `Remise` (`ID_Remise`,`Date`) VALUES
-- ('','');
-- INSERT INTO `ModePayement` (`ID_ModePayement`,`Libelle`) VALUES
-- ('','');
-- INSERT INTO `ChequeEtat` (`ID_ChequeEtat`,`description`) VALUES
-- ('','');
-- INSERT INTO `Entite` (`ID_Entite`,`ID_TypeEntite`,`Nom`,`CodePostal`,`Ville`,`Mail`,`Tel`,`Addresse`,`Raison`,`Prenom`,`CodeTiers`,`Capital`,`NumeroTva`) VALUES
-- ('','','','','','','','','','','','','');
-- INSERT INTO `TypeEntite` (`ID_TypeEntite`,`Description`) VALUES
-- ('','');

